@import '~src/styles/colors';

.thumbnailContainer {
  width: 100%;
  height: 210px;
  border-bottom: 2px solid $white;
  position: relative;
}

.backgroundImage {
  // Hack to fix css3 zoom issues
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-size: 100%;
  background-position: center;

  filter: blur(0px) brightness(75%);

  &.isSelected {
    background-size: 120%;
    filter: blur(1px) brightness(65%);
  }

  transition: all 0.7s ease-in-out;
}


.thumbnailContent {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 9;

  width: 100%;
  height: 100%;
  color: $white;
}

.dateOverlay {
  position: absolute;
  bottom: 10px;
  left: 0;

  padding-top: 10px;
  padding-left: 10px;

  z-index: 9;

  font-size: 0.8rem;
}

.labelOverlay {
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  z-index: 9;

  font-size: 0.8rem;
}

.titleOverlay {
  position: absolute;
  bottom: 30px;
  width: 100%;

  vertical-align: bottom;

  padding-left: 10px;
  padding-right: 10px;

  z-index: 9;

  font-weight: 300;
  font-size: 1.3rem;
}
