.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.recipeCardContainer {
  height: 380px;
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin-top: 10px;
}

.loadMoreContainer {
  margin: 40px 0;
}

.loadButton {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  margin: 20px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingText {
  padding-top: 20px;
}
